# React Level-1 ignored folders & files
react/level-1/node_modules
react/level-1/build
react/level-1/cypress/reports/mochareports/assets
react/level-1/app/node_modules

# React Level-1 ignored folders & files
react/level-2/node_modules
react/level-2/build
react/level-2/cypress/reports/mochareports/assets
react/level-2/app/node_modules


# DHIS2 Level-1 ignored folders & files
dhis2/level-1/node_modules
dhis2/level-1/.d2
dhis2/level-1/src/locales
dhis2/level-1/build
dhis2/level-1/cypress/reports/mochareports/assets

# DHIS2 Level-2 ignored folders & files
dhis2/level-2/node_modules
dhis2/level-2/.d2
dhis2/level-2/src/locales
dhis2/level-2/build
dhis2/level-2/cypress/reports/mochareports/assets

# Continue to add the same directories for other levels, e.g. for level-x
dhis2/level-x/node_modules
dhis2/level-x/.d2
dhis2/level-x/src/locales
dhis2/level-x/build
dhis2/level-x/cypress/reports/mochareports/assets